<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Add Books" method="post">
        <label for="book">Book Name</label>
        <input type="text" name="book" id="book">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <label for="des">Description</label>
        <input type="text" name="des" id="des">
        <input type="submit" value="Add">
    </form>
    <form action="/">
        <input type="submit" value="Back to Home">
    </form>
</body>
</html>