<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Check Fine" method="post">
        <label for="acard">Admit Card</label>
        <input type="text" name="acard" id="acard">
        <label for="bname">Book Name</label>
        <input type="text" name="bname" id="bname">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <input type="submit" value="Check Fine">
    </form>
</body>
</html>