<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><br><br><br><br><br><br><br><br><br>
    <h1><font color="green">Welcome User</font></h1>
    <form action="/Login" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="acard">Admit Card No</label>
        <input type="text" id="acard" name="acard"><br><br>
        <input type="submit" value="Login">
        <h3>You don't have account, Please Sign-up</h3>
    </form>
    <form action="/Signup">
        <input type="submit" value="Sign-Up">
    </form>
    </center>
</body>
</html>