<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><br><br><br><br><br><br><br><br><br><br><br>
    <form action="/Check">
        <input type="submit" value="Check Book">
    </form><br>
    <form action="/Take">
        <input type="submit" value="Take Book">
    </form><br>
    <form action="/Return">
        <input type="submit" value="Return Book">
    </form><br>
    <form action="/Check Fine">
        <input type="submit" value="Check Fine">
    </form>
    </center>
</body>
</html>